/**
 * Place your custom CSS styles here.
 **/

.home-container .home-sticky-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.home-container .all-boards {
  width: 100% !important;
}